.container-fluid.p-0 {
  padding: 0;
}

.col-border {
    border: 5px solid rgb(0, 0, 0);
}

.rectangulo-verde {
    background-color: #00ff00;
    height: 100px;
}
.rectangulo-rojo {
    background-color: red;
    height: 470px;

}

.rectangulo-blanco{
    background-color: white;
    height:490px;
}

.rectangulo-rosa{
    background-color: pink;
    height: 50px;
}

.rectangulo-coral{
    background-color: rgb(255, 127, 80);
    height: 200px;
}

.rectangulo-azul {
    background-color: rgb(0, 0, 255);
    height: 110px;
}

.rectangulo-verde2 {
    background-color: #00ff00;
    height: 30px;
}

@media (min-width: 1200px) {
  .custom-height-xl {
    height: 470px; /* Ajusta la altura vertical deseada para tamaño xl */
  }
}

@media (max-width: 575.98px) {
  .custom-height-xs {
    height: auto; /* Permite que la altura se ajuste automáticamente en tamaño xs */
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-height-md {
    height: 50px; /* Permite que la altura se ajuste automáticamente en tamaño mediano (md) */
  }
}
@media (max-width: 767.98px) {
  .custom-height-sm {
    height: 50px; /* Permite que la altura se ajuste automáticamente en tamaño pequeño (sm) */
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .custom-height-lg {
    height: auto; /* Permite que la altura se ajuste automáticamente en tamaño grande (lg) */
  }
}




